
.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." khi dòng chữ bị cắt */
  max-width: 250px;
  /* Độ rộng tối đa của phần tử */
}

.truncate-text:hover {
  /* Thêm các thuộc tính CSS cho kiểu dáng mong muốn khi hover */
  color: 'red'; /* Màu chữ thành màu xanh khi hover */
  font-weight: bolder;
}