@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffea00;
  --secondary-dark: #e3d002;
  --overlay: rgba(0, 0, 0, .7);
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Màu nền của thanh cuộn */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Màu của nút trượt */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Bo tròn cho nút trượt khi hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  /* padding: 17px 28px; */
  /* font-size: 1.2rem; */
  color: #fff;
  /* font-weight: 600; */
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 2px;
}

/* Màu nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Màu của nút trượt */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Bo tròn cho nút trượt khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}