.slick-dots li button:before {
  color:white !important
}
.slick-dots li button{
  width: 30px;
  height: 30px;
  color:white !important
}
.slick-dots li.slick-active button:before {
  color: #33ff00 !important
}

